#firstdiv{
    background-color: blue;
}
#seconddiv{
    background-color: rgb(204, 132, 132);
}
.red{
    color: rgb(0, 56, 240);
}
.bg-yellow{
    background-color: yellow;
}

#uniquediv{
    color: aquamarine;
}